<div>
  <tree-root
    #tree
    [nodes]="nodes"
    [options]="customTemplateStringOptions"
    [focused]="true"
    (event)="onEvent($event)"
    (initialized)="onInitialized(tree)"
  >
    <ng-template #treeNodeTemplate let-node>
      <span title="{{node.data.subTitle}}">{{ node.data.name }}</span>
      <span class="pull-right">{{ childrenCount(node) }}</span>
      <button (click)="go($event)">Custom Action</button>
    </ng-template>
    <ng-template #loadingTemplate>Loading, please hold....</ng-template>
  </tree-root>
</div>
